<div class="container">
    <div class="row">
      <!-- Daily Operation Monitoring -->
      <div class="col-sm-12">
          <div class="card">
              <p class="card-header">PR Execution Monitoring</p>
              <div class="card-body">
                <div class="d-flex justify-content-end p-2">
                  <div class="p-2">
                      <form class="form-inline">
                        <label class="mr-sm-2" for="selectedMaterial">Selected Material</label>
                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="selectedMaterial" value="Fastron" readonly>
                        <button type="submit" class="btn btn-secondary">View SR2</button>
                      </form>
                  </div> 
                  <div class="p-2 ml-auto">
                      <form class="form-inline">  
                        <input type="text" class="form-control mb-6 mr-sm-2 mb-sm-0" placeholder="Search">
                        <button type="submit" class="btn btn-secondary">
                          <i class="fa fa-search"></i>
                        </button>
                      </form>
                  </div>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-default">
                          <tr>
                            <th>PR.No</th>
                            <th>PO.No</th>
                            <th>PO.STO</th>
                            <th>GI</th>
                            <th>GR</th>
                            <th>UoM</th>
                            <th>Status</th>
                            <th>PIC</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let object of objects">
                            <td>{{object.prNo}}</td>
                            <td>{{object.poNo}}</td>
                            <td>{{object.poSto}}</td>
                            <td>{{object.gi}}</td>
                            <td>{{object.gr}}</td>
                            <td>{{object.uom}}</td>
                            <td>{{object.status}}</td>
                            <td>{{object.pic}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
      </div>
      <!-- PR Execution By Volume -->
      <div class="col-sm-6">
        <div class="card">
          <p class="card-header">PR Execution by Volume</p>
          <div class="card-body">
            <div style="display: block">
                <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <p class="card-header">PR Execution by Status</p>
          <div class="card-body text-center">
            <div style="display: block">
                <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"
                            [options]="doughnutChartOptions"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p>Total PR</p>
                    <h4>41.4 kL</h4>
                </div>
                <div class="col-sm-6">
                    <p>Equal</p>
                    <h4>2,070 boxes</h4>
                </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <p class="card-header">PR Execution per DSPs</p>
          <div class="card-body">
              <div class="card">
                  <div class="card-block">
                      <div class="h4 mb-0">52%</div>
                      <small class="text-muted text-uppercase font-weight-bold">Kertapati</small>
                      <div class="progress progress-xs mt-1 mb-0">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 52%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block">
                      <div class="h4 mb-0">100%</div>
                      <small class="text-muted text-uppercase font-weight-bold">Jambi</small>
                      <div class="progress progress-xs mt-1 mb-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>